@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model ArmyGrievances.Models.MainIn_OutModal
@{
    Layout = "~/Views/Shared/_VerticalLayout1.cshtml";
    ViewBag.Title = ViewBag.PageHeading;
}
<link rel="stylesheet" href="~/css/jquery.datetimepicker.min.css" />
<style>
    .lbllarge {
        font-size: 14.5px;
    }

    .txtRequired {
        border-left: 5px solid blue !important;
    }

    .schemesMng input[type="text"] {
        max-width: 100%;
        width: 27rem;
    }

    select {
        max-width: 430px !important;
    }

    .select2-container {
        width: 430px !important;
    }

    .xdsoft_datetimepicker .xdsoft_month {
        text-align: left !important;
    }

    .xdsoft_datetimepicker .xdsoft_label i {
        display: contents
    }

    .xdsoft_datetimepicker .xdsoft_timepicker {
        width: 70px !important;
    }

    .FitCover {
        object-fit: cover;
        max-width: 250px;
        max-height: 195px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
        border-radius: 5px
    }

    .file-up {
        position: absolute;
        height: calc(100% + 43px);
        width: 100%;
    }

    .jcrop-holder .img-fluid {
        background: #FFF !important;
    }
</style>

<form class="wrapper" action="/MailIn_Out/Submit" method="post" enctype="multipart/form-data" style="padding: 5px;">
    <div class="modal-header with-border" style="padding:0">
        <h2 class="box-title">@ViewBag.PageHeading</h2>
        <div>
            <a class="brdr-1 btn-sm btn" style="padding: 5.3px 10px;" onclick="goBack();">Return</a>
        </div>
    </div>
    <div class="wrapper">
        <div class="row">
            <div class="col-lg-12 schemesMng">
                <div class="text-center">
                    <div class="card" style="display:flex;width:100%!important">
                        <input type="hidden" class="form-control" name="Mail_Id" value="@Model.Mail_Id" id="Mail_Id" />
                        <input type="hidden" class="form-control" name="Table" value="1" />
                        <div class="row p-2">
                            <div class="row">
                                <div class="col-md-3" style="text-align: right;">
                                    <label class=" lbllarge mt-1 me-1 p-0">File Name:</label>
                                </div>
                                <select class="form-control form-select txtRequired" id="Item" name="Item" style="padding-top:3px;width:100%;">
                                    <option value="0">--Select--</option>
                                </select>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-3" style="text-align: right;">
                                    <label class=" lbllarge mt-1 me-1 p-0">Letter No:</label>
                                </div>
                                <input type="text" class="form-control txtRequired" id="Letter_No" name="Letter_No" value="@Model.Letter_No" />
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-3" style="text-align: right;">
                                    <label class=" lbllarge mt-1 me-1">Letter Date:</label>
                                </div>
                                <input class="form-control txtRequired datetimepicker" name="Letter_Date" type="text" id="Letter_Date" onchange="OnchangeDate();" value="@Model.Letter_Date" placeholder="DD/MM/YYYY">
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-3" style="text-align: right;">
                                    <label class=" lbllarge mt-1 me-1 p-0">Army No:</label>
                                </div>
                                <input type="text" class="form-control txtRequired" id="Service_No" name="Service_No" value="@Model.Service_No" />
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-3" style="text-align: right;">
                                    <label class=" lbllarge mt-1 me-1 p-0">Name:</label>
                                </div>
                                <input type="text" class="form-control txtRequired" id="Name" name="Name" value="@Model.Name" />
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-3" style="text-align: right;">
                                    <label class=" lbllarge mt-1 me-1 p-0">Rank:</label>
                                </div>
                                <input type="text" class="form-control txtRequired" id="Rank" name="Rank" value="@Model.Rank" />
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-3" style="text-align: right;">
                                    <label class=" lbllarge mt-1 me-1 p-0">To Whom:</label>
                                </div>
                                <input type="text" class="form-control txtRequired" id="ToWhom" name="ToWhom" value="@Model.ToWhom" />
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-3" style="text-align:right;">
                                    <label class=" lbllarge mt-1 me-1">Subject:</label>
                                </div>
                                <input type="text" class="form-control txtRequired" id="Subject" name="Subject" value="@Model.Subject" />
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-3" style="text-align:right;">
                                    <label class=" lbllarge mt-1 me-1">Letter File Placed:</label>
                                </div>

                                <select class="form-control form-select txtRequired" value="@Model.LetterPlaced_File" name="LetterPlaced_File" id="LetterPlaced_File" style="padding-top:3px;width:100%;">
                                    <option value="0">--Select--</option>
                                    <option value="Resolved">Resolved</option>
                                    <option value="Observation">Observation</option>
                                    <option value="Pending">Pending</option>
                                </select>
                            </div>

                            <div class="mt-save">
                                <button id="EditSave" type="submit" class="btn btn-sm brdr-1 " style="color: white; border: none; background-color: orange;box-shadow:none" onclick="return validateInputs(this);">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
<script src="~/Scripts/jquery-moment.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        $(".datetimepicker").datetimepicker({ format: 'd/m/Y', formatDate: 'd/m/Y' });
        $('.xdsoft_timepicker').hide();
        function matchStart(term, text) {
            if (text.toUpperCase().indexOf(term.toUpperCase()) > -1) {
                return true;
            }
            return false;
        }
        var status = JSON.parse('@Html.Raw(Json.Serialize(ViewData["status"]))');
        if (status == "ok") {
            $("#LetterPlaced_File option[value='@Model.LetterPlaced_File']").attr("selected", "selected");
        }
    });
    $(document).ready(function () {
        $("input:text,form").attr("autocomplete", "off");
        var fileNames = ["DO II", "AGI", "FP", "CHA"];
        var fileNameDropDown = "#Item";
        $(fileNameDropDown).empty();
        $(fileNameDropDown).append('<option value="0">--Select--</option>');
        var Selectedfile = JSON.parse('@Html.Raw(Json.Serialize(Model.Item))');
        for (var i = 0; i < fileNames.length; i++) {
            if (fileNames[i] == Selectedfile) {
                $(fileNameDropDown).append('<option value="' + fileNames[i] + '" selected="selected">' + fileNames[i] + '</option>');
            } else {
                $(fileNameDropDown).append('<option value="' + fileNames[i] + '">' + fileNames[i] + '</option>');
            }
        }

    });
</script>
<script>
    function reset() {
        $('#Item').css('background-color', 'white');
        $('#Service_No').css('background-color', 'white');
        $('#LetterPlaced_File').css('background-color', 'white');
        $('#Letter_Date').css('background-color', 'white');
    }

    function validateInputs(e) {
        reset();
        var Item = $("#Item option:selected").val();
        var Service_No = $.trim($('#Service_No').val());
        var LetterPlaced_File = $("#LetterPlaced_File option:selected").val();
        var Mail_Id = $.trim($('#Mail_Id').val());
        var date = $.trim($('#Letter_Date').val());
        var error = "";
        if (Item == "0") {
            error += "&#9679 Select File Name option <br>";
            $('#Item').css('background-color', 'yellow');
        }
        if (Service_No == "") {
            error += "&#9679 Enter Army No. <br>";
            $('#Service_No').css('background-color', 'yellow');
        }
        if (date == "") {
            error += "&#9679 Enter Letter Date <br>";
            $('#Letter_Date').css('background-color', 'yellow');
        }
        else if (Service_No != "" && Mail_Id == 0) {
            var valid = "false";
            $.ajax({
                url: "/MailIn_Out/checkExistArmyNo",
                datatype: 'json',
                data: { "ArmyNo": Service_No, "tbl": "tbl_MailIn" },
                async: false,
                success: function (response) {
                    valid = response;
                }
            });
            if (valid == "true") {
                error += "&#9679 This Army No. already exist in <b>In Mail Records</b><br>";
                $('#Service_No').css('background-color', 'yellow');
            }
        }
        if (Service_No != "") {
            var valid = "false";
            $.ajax({
                url: "/ESM/checkExistArmyNo",
                datatype: 'json',
                data: { "ArmyNo": Service_No },
                async: false,
                success: function (response) {
                    valid = response;
                }
            });
            if (valid != "true") {
                error += "&#9679 This Army No. not exist in Individual List. Add first in <b>ESM Records</b> <br>";
                $('#Service_No').css('background-color', 'yellow');
            }
        }

        if (LetterPlaced_File == "0") {
            error += "&#9679 Select Letter File Placed option <br>";
            $('#LetterPlaced_File').css('background-color', 'yellow');
        }


        if (error != "") {
            var lines = error.split("<br>").length;
            if (lines > 2) {
                var errormsg = "Please correct all issues before Save <br>";
                errormsg += error;
                alertify.alert(errormsg);
            }
            else
                alertify.alert(error);
            return false;
        }
    }
</script>


<script>
    function OnchangeDate() {
        $('.xdsoft_datetimepicker.xdsoft_noselect.xdsoft_').hide();
    }

    function goBack() {
        window.history.back();
    }
</script>
@if (ViewData["Message"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            alertify.alert("@ViewData["Message"]");
            var alertID = document.getElementById('alertify-ok'); if (alertID) {
                setTimeout(function () { alertID.click(); }, 5000);
            }
        });
    </script>
}


